*.un~
*~
*#
.*.sw[a-z]
.#*
\#*#

.berkshelf/cookbooks
.berkshelf/tmp
.bundle/
.colander
.kitchen/
.kitchen.local.yml
.vagabond
.vagrant

berks.json
bin/
cookbooks
vendor/

Berksfile.lock
Gemfile.lock
